body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-nav > li > a {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-icon {
    font-size: 1.5em;
    padding-right: 5px;
    padding-bottom: 5px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow-button i {
    font-size: 2rem; /* Adjust the size of the arrow icon */
    color: #ffffff; /* Arrow color */
}

.arrow-button:hover i {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* White shadow on hover */
}



.chart-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 49.9%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(30px); /* Adjust the blur radius as needed */
}

.content-div {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 45%;
    left: 50%;
    border-radius: 25px;
    background-color:  rgba(255, 255, 255, .5)  ;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 700px;
}

.painting-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.art-desc {
    font-size: 25px;
    margin-top: 10px;
    padding-left:25px;

}

.art-desc-div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.figure-img {
    max-height: 500px;
}


.background-image {
    margin-top: 62px; /* Adjust the value to match the Navbar height */
    position: absolute;
    width: 100%;
    height: 94%;
    background-size: cover;
    top: 0;
    left: 0;
    display: none;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
}

#prev-chart {
    left: 10px;
}

#next-chart {
    right: 10px;
}
